{% extends 'main.html' %} {% block content %}

<div class="row" style="margin-bottom: 125px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <!-- Symptoms Checklist Section -->
        <h2 class="card-title" style="text-align: center;">Symptoms</h2>
        <div class="card" style="border: 1px solid black; margin-top: 20px;">
            <div class="card-body">

                <div class="form-group" style="text-align: center;">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="swelling" value="1">
                        <span class="checkbox-label">Swelling</span>
                    </label><br>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="fatigue" value="1">
                        <span class="checkbox-label">Fatigue</span>
                    </label><br>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="shortness_of_breath" value="1">
                        <span class="checkbox-label">Shortness of Breath</span>
                    </label><br>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="nausea" value="1">
                        <span class="checkbox-label">Nausea</span>
                    </label><br>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="anemia" value="1">
                        <span class="checkbox-label">Anemia</span>
                    </label><br>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="high_blood_pressure" value="1">
                        <span class="checkbox-label">High Blood Pressure</span>
                    </label><br>
                </div>
            </div>
        </div>

        <!-- Form for input -->
        <center>
            <h2> Clinical Parameters</h2>
        </center>
        <div class="card card-body" style="border: 1px solid black;">
            <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="age" placeholder="Age" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bp" placeholder="Blood Pressure" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="al" placeholder="Albumin Level" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="su" placeholder="Sugar Level" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="rbc" placeholder="Red Blood Cells" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pc" placeholder="Pus Cells" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pcc" placeholder="Pus Cell Casts" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="ba" placeholder="Bacteria" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bgr" placeholder="Blood Glucose Level" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bu" placeholder="Blood Urea" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="sc" placeholder="Serum Creatinine" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pot" placeholder="Potassium Level" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="wc" placeholder="White Blood Cells" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="htn" placeholder="Hypertension" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="dm" placeholder="Diabetes Mellitus" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="cad" placeholder="Coronary Artery Disease" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pe" placeholder="Pulmonary Embolism" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="ane" placeholder="Anemia" required>
                        </div>
                    </div>
                </div>

                <!-- Predict Button -->
                <center>
                    <input type="submit" class="btn btn-info btn-block" value="Predict">
                </center>
            </form>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>

<!-- Sample Data Section -->
<h1 style="text-align: center">Sample Inputs in the Data Set</h1><br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Age</th>
            <th scope="col">Blood Pressure</th>
            <th scope="col">Albumin Level</th>
            <th scope="col">Sugar Level</th>
            <th scope="col">Red Blood Cells</th>
            <th scope="col">Pus Cells</th>
            <th scope="col">Pus Cell Casts</th>
            <th scope="col">Bacteria</th>
            <th scope="col">Blood Glucose Level</th>
            <th scope="col">Blood Urea</th>
            <th scope="col">Serum Creatinine</th>
            <th scope="col">Potassium Level</th>
            <th scope="col">White Blood Cells</th>
            <th scope="col">Hypertension</th>
            <th scope="col">Diabetes Mellitus</th>
            <th scope="col">Coronary Artery Disease</th>
            <th scope="col">Pulmonary Embolism</th>
            <th scope="col">Anemia</th>
            <th scope="col">Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>30</td>
            <td>80</td>
            <td>1.0</td>
            <td>200</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0.8</td>
            <td>5.0</td>
            <td>9.0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr>
            <td>45</td>
            <td>120</td>
            <td>0.5</td>
            <td>100</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>140</td>
            <td>20</td>
            <td>1.0</td>
            <td>4.0</td>
            <td>7.0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr>
            <td>15</td>
            <td>100</td>
            <td>5.5</td>
            <td>90</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>40</td>
            <td>110</td>
            <td>3.5</td>
            <td>140</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>150</td>
            <td>10</td>
            <td>1.2</td>
            <td>4.0</td>
            <td>8.0</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>55</td>
            <td>130</td>
            <td>2.0</td>
            <td>180</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>160</td>
            <td>20</td>
            <td>0.5</td>
            <td>7.0</td>
            <td>11.0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>45</td>
            <td>120</td>
            <td>2.5</td>
            <td>150</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>130</td>
            <td>20</td>
            <td>1.5</td>
            <td>5.0</td>
            <td>8.0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>60</td>
            <td>140</td>
            <td>4.0</td>
            <td>200</td>
            <td>4</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>140</td>
            <td>25</td>
            <td>1.8</td>
            <td>6.0</td>
            <td>10.0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr>
            <td>35</td>
            <td>110</td>
            <td>3.0</td>
            <td>120</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>120</td>
            <td>10</td>
            <td>0.9</td>
            <td>4.5</td>
            <td>7.0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

{% endblock %}