{% extends 'main.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Diabetes Prediction</h2>

    <form action="{{ url_for('predict_diabetes') }}" method="POST">
        <div class="row">
            {% for field in ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age'] %}
            <div class="col-md-3 mb-2">
                <input class="form-control" type="text" name="{{ field }}" placeholder="{{ field }}" required>
            </div>
            {% endfor %}
        </div>
        <center><input type="submit" class="btn btn-info mt-3" value="Predict Diabetes"></center>
    </form>
</div>
{% endblock %}